body {
    font-family: sans-serif;
    margin: 0;
    background: #070A11;
}

body::-webkit-scrollbar {
    display: none;
}

.header_contents {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: flex-start;
    z-index: 10;
    color: white;
}

.logo {
    height: 50px;
    border-radius: 50px;
    margin-right: 30px;
}

.home_foll_cat {
    display: flex;
}

.home_foll_cat li {
    list-style: none;
    padding: 0 7px;
}

.home_foll_cat li a {
    text-decoration: none;
    color: white;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 30px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    backdrop-filter: blur(15px);
    height: 40px;
    width: 280px;
}


.material-symbols-outlined {
    color: #636871;
    font-size: 22px;
}

.search_input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 15px;
}

.search_input::placeholder {
    color: white;
}

.log_sign_btns {
    display: flex;
    margin-left: auto;

}

.log {
    height: 40px;
    width: 80px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(15px);
    margin-right: 5px;
}

.sign {
    height: 40px;
    width: 80px;
    border: solid 0px black;
    border-radius: 40px;
    background-color: #E12936;
    color: white;
}

/* Slider */
.slider_container {
    position: relative;
    margin-top: -70px;
}

.slider_wrapper {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 650px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
    max-height: 650px;
}

.slider_nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider_nav a {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider_nav a {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}


/* Movie category slider */

.card_img {
    height: 200px;
    width: 290px;
    border-radius: 20px;
    object-fit: fill;
}

.watch_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    height: 16px;
    width: 45px;
    color: white;
    margin-top: -30px;
    position: relative;
    margin-left: 10px;
}

.play_icon {
    height: 12px;
    margin-right: 2px;
    color: white;
}

.category_slider {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 1500px;
    padding: 25px 20px;
    border-radius: 15px;
    background: #151925;
    color: white;
    margin: 10px auto 40px auto;
}

.category_slider_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.category_cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tab_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1542px;
    margin: 30px auto 0px auto;
    border-bottom: 1px solid #161B26;
    padding-bottom: 10px;
}

.tab_btn {
    margin-right: 10px;
    background: transparent;
    border: none;
    color: white;
}

.tab_content {
    display: none;
}

.tab_box .tab_btn.active {
    color: #6F1923;
}

.tab_btn_line {
    position: absolute;
    top: 28px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #E12936;
    transition: all .3 ease-in-out;
}