body {
    font-family: sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.header_contents {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: flex-start;
    z-index: 10;
    color: white;
}

.logo {
    height: 50px;
    border-radius: 50px;
    margin-right: 30px;
}

.home_foll_cat {
    display: flex;
}

.home_foll_cat li {
    list-style: none;
    padding: 0 7px;
}

.home_foll_cat li a {
    text-decoration: none;
    color: white;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 30px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    backdrop-filter: blur(15px);
    height: 40px;
    width: 280px;
}


.material-symbols-outlined {
    color: #636871;
    font-size: 22px;
}

.search_input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 15px;
}

.search_input::placeholder {
    color: white;
}

.log_sign_btns {
    display: flex;
    margin-left: auto;

}

.log {
    height: 40px;
    width: 80px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(15px);
    margin-right: 5px;
}

.sign {
    height: 40px;
    width: 80px;
    border: solid 0px black;
    border-radius: 40px;
    background-color: #E12936;
    color: white;
}

/* Slider */
.slider_container {
    position: relative;
    margin-top: -70px;
}

.slider_wrapper {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 600px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-height: 600px;
}

.slider_nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider_nav a {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider_nav a {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}