body {
    font-family: sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.header_contents {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    height: 50px;
    border-radius: 50px;
    margin-right: 30px;
}

.home_foll_cat {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 30px;
    border-radius: 40px;
    background: #f6f6f6;
    height: 40px;
    width: 280px;
}

.material-symbols-outlined {
    color: #636871;
    font-size: 22px;
}

.search_input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
}

.search_input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.log_sign_btns {
    display: flex;
    position: absolute;
    width: 165px;
    justify-content: space-between;
    right: 30px;
}

.log {
    height: 40px;
    width: 80px;
    border: solid 1px black;
    border-radius: 40px;
}

.sign {
    height: 40px;
    width: 80px;
    border: solid 0px black;
    border-radius: 40px;
    background-color: #E12936;
    color: #FBE0E2;
}

/* Slider */
.slider_container {}

.slider_wrapper {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 600px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-height: 600px;
}

.slider_nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider_nav a {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider_nav a {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}