html body {
    font-family: sans-serif;
    margin: 0;
    background-color: #070A11;
    display: block;
    overflow-x: hidden;
    scroll-behavior: smooth;
    touch-action: pan-x pan-y;
}

img {
    touch-action: manipulation;
    pointer-events: none;
}

*:not(input):not(textarea) {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body::-webkit-scrollbar {
    display: none;
}

.gradient_effect {
    position: absolute;
    width: 100%;
    height: 650px;
    z-index: 10;
}

.gradient_effect::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
}

.header_contents {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: flex-start;
    z-index: 10;
    color: white;
    width: 100%;
}

.logo {
    height: 45px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

.check_btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 45px;
    display: none;
}

#check {
    display: none;
}

.search_home_foll_cat {
    display: flex;
    align-items: center;
}

.home_foll_cat {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.home_foll_cat li {
    list-style: none;
    padding: 0 7px;
}



.home_foll_cat li a {
    text-decoration: none;
    color: white;
}

.header_contents .search svg {
    height: 19px;
    width: 19px;
    margin-right: 5px;
    color: #646973;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 30px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    backdrop-filter: blur(25px);
    height: 40px;
    width: 280px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


.material-symbols-outlined {
    color: #636871;
    font-size: 22px;
    margin-right: 5px;
}


.search_input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 15px;
    color: white;
    width: 80px;
}

.search_input::placeholder {
    color: white;
}

.log_sign_btns {
    display: flex;
    margin-left: auto;

}

.log {
    height: 40px;
    width: 80px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(25px);
    margin-right: 5px;
    cursor: pointer;
}

.sign {
    height: 40px;
    width: 80px;
    border: solid 0px black;
    border-radius: 40px;
    background-color: #E12936;
    color: white;
    cursor: pointer;
}

/* Slider */
.slider_container {
    position: relative;
    margin-top: -70px;
}

.slider_wrapper {
    /*position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 750px;
    */
    overflow: hidden;

}

.slider_wrapper .slider {
    /*
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    */

    display: flex;
    animation: slide_infinite 12s infinite;
}

.slider_wrapper .slider .slide {
    position: relative;
    width: 100%;
    height: 650px;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider .slide .caption {
    position: absolute;
    color: white;
    top: 300px;
    left: 30px;
    font-size: xxx-large;
    z-index: 999;
}

.slider_wrapper .slider img {
    position: absolute;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    max-height: 650px;
    z-index: 0;
}

@keyframes slide_infinite {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }

}

.slider_nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider_nav a {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider_nav a {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}


/* Movie category slider */


.card_img {
    height: 200px;
    width: 280px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;

}

.watch_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E12936;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    height: 20px;
    width: 50px;
    color: white;
    margin-top: -30px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.watch_btn:focus {
    outline: none;
}

/*
.slider1_watch_btn {
    position: absolute;
    z-index: 9999;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    background-color: #E12936;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    height: 35px;
    width: 90px;
    color: white;
    margin-top: -30px;
    cursor: pointer;
    top: 430px;
    left: 30px;
}*/

.slider1_watch_btn {
    position: absolute;
    z-index: 9999;
    display: flex;
    gap: 0.19rem;
    justify-content: center;
    align-items: center;
    background-color: #E12936;
    border: none;
    border-radius: 1.3rem;
    font-size: 1.2rem;
    max-height: 2rem;
    height: 100%;
    max-width: 5.5rem;
    width: 100%;
    color: white;
    margin-top: -1.8rem;
    cursor: pointer;
    top: 26.8rem;
    left: 1.8rem;
}

.slider1_watch_btn:focus {
    outline: none;
}

.slide .slider1_watch_btn svg {
    height: 17px;
    width: 17px;
    margin-left: 2px;
}

.watch_btn svg {
    height: 15px;
    width: 15px;
    margin-right: 2px;
}

.category_slider {
    display: flex;
    flex-direction: column;
    border: 1px solid #161b29;
    max-width: 1500px;
    padding: 25px 20px;
    border-radius: 15px;
    background: #101521;
    color: white;
    margin: 15px auto 40px auto;
}

.category_slider_head {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}

.category_cards {
    display: flex;
    justify-content: space-between;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 210px;
}

.category_cards::-webkit-scrollbar {
    display: none;
}

.category_slider .category_cards .card {
    height: 200px;
    width: 280px;
    margin-right: 14px;
    min-width: 280px;
    border-radius: 20px;
    border: none;
}

.tab_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1500px;
    margin: 30px auto 0px auto;
    border-bottom: 1px solid #161B26;
    padding-bottom: 10px;
}

.tab_content {
    margin: 0 auto;
    width: 1500px;
}

.tab_btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.left_right_btns {
    display: flex;
    gap: 5px;
}

.prev_btn_scroll {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #1D222E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_btn_scroll {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #1D222E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_icon_png,
.right_icon_png {
    height: 20px;
}

.content {
    display: none;
    animation: moving .8s ease;
}

.category_slider_head,
.category_cards {
    animation: moving .8s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


.content.active {
    display: block;
}


.tab_btn_line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #E12936;
    transition: all .3 ease-in-out;
}

.tab_box .tab_icon_btn svg {
    height: 20px;
    width: 20px;
    color: white;
    margin-bottom: 6px;
}

.tab_box .tab_icon_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

/* Movie category slider */

::selection {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 50px;
}

.movie-slide {
    background: #101521;
    color: #fff;
    margin: auto;
    max-width: 1500px;
    overflow: hidden;
    padding: 10px 15px 10px;
    border-radius: 15px;
    border: 1px solid #1d222e;
}

.movie_category_slider {
    margin-top: 50px;
}

.movie-slide:hover {
    transition: 1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 15px;
}

.movie-box::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

t::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.container-title {
    display: flex;
    width: 110px;
    font-size: 18px;
}

.movie-box {
    display: flex;
    overflow-x: scroll;
    padding: 10px 10px;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px;
}

.movie-info {
    margin: 5px 15px 8px 0px;
    scroll-snap-align: start;
}

.movie-info img {
    background: center center / cover no-repeat #ddd;
    border-radius: 15px;
    height: 170px;
    object-fit: cover;
    width: 230px;
}

.movie-name {
    cursor: pointer;
    padding: 5px;
    width: 230px;
    font-size: 17px;
}

.review {
    margin-left: 5px;
    margin-top: -70px;
    border: 1px solid red;
    font-size: 12px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 50px;
    background-color: transparent;
    backdrop-filter: blur(100px);
}

.review svg {
    height: 14px;
    width: 14px;
    margin-right: 3px;
}

.all-btn {
    text-align: center;
    background-color: #3461af;
    border-radius: 10rem;
    margin: -15px auto 0;
    font-size: 1.2rem;
    font-weight: 600;
    width: 220px;
    max-width: 400px;
    padding: 10px;
}

.all-btn:active {
    transform: translateY(2px);
}


/*FOOTER

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.footer-middle {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    color: white;
    background-color: #101521;
}




ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}



.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.mainfooter .footer-middle .container {
    max-width: 1500px;
}

.mainfooter .footer-middle .row {
    justify-content: space-between;
}

.container .row .col-md-3 {
    padding-left: 0;
}

.row .footer_header_logo .footer_header {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer_logo_div .footer_logo_a img {
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.row .footer_header_logo .footer_logo_div {
    padding-left: 35px;
}

.container .row .list-unstyled {
    margin-bottom: 0;
}

.col-md-6 .footer-pad .list-unstyled {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.footer-pad .list-unstyled li {
    width: 150px;
    text-align: left;
}

.container .row .col-md-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network a .icoTwitter:hover {
    color: white;
}

.footer-pad .list-unstyled a:hover {
    color: #E12936;
}

.tab_btn:focus {
    outline: none;
}

.prev_btn_scroll:focus {
    outline: none;
}

.next_btn_scroll:focus {
    outline: none;
}

.social-network a.icoTwitter:hover i {
    color: white;
}

.social-network a.icoTwitter:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover i {
    color: white;
}

.social-network a.icoInstagram:hover {
    background-color: #007bb7;
}

.social-network a.icoWhatsapp:hover i {
    color: white;
}

.social-network a.icoWhatsapp:hover {
    background-color: #007bb7;
}

*/

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #101521;
    padding: 30px 5.5% 30px;
    margin-top: 50px;
}

.footer .footer_content a {
    color: white;
}

.footer .footer_content a:hover {
    text-decoration: none;
}

.footer_logo_div .footer_logo_a img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
}

#footer_logo_header {
    font-size: 22px;
}

.footer_content .icons a {
    display: inline-block;
    font-size: 22px;
    width: 50px;
    height: 50px;
    transition: all .40s ease;
    text-align: center;
}

.footer_content .icons a:hover {
    background-color: white;
    color: #1e3ead;

}

.icons a i {
    line-height: 50px;
}

.footer .footer_content .list-unstyled {
    line-height: 30px;
}

@media(max-width:1120px) {
    .slider_wrapper .slider .slide {
        height: 500px;
    }

    .slider .slide img {
        height: 500px;
    }

    .slider .slide .gradient_effect {
        height: 500px;
    }

    .slider .slide .caption {
        margin-top: -100px;
    }

    .slider .slide .slider1_watch_btn {
        margin-top: -150px;
        font-size: 17px;
        width: 70px;
    }

    .movie_category_slider {
        margin: 25px 10px;
    }

}

@media screen and (max-width: 992px) {
    .header_contents {
        padding: 5px 15px;
    }

    .check_btn {
        display: block;
    }

    .header_contents .logo {
        height: 35px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .header_contents .home_foll_cat {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #101521;
        top: 55px;
        right: -100%;
        transition: all .5s;
        padding: 30px 25px;
        text-align: center;
    }

    .home_foll_cat li:nth-child(4) {
        order: -1;
        /* En başa geçer */
    }

    .header_contents .home_foll_cat li {
        display: block;
        margin: 15px 0;
        line-height: 30px;
    }

    .header_contents .home_foll_cat li {
        padding: 0 4px;
    }

    .home_foll_cat li a:hover,
    .home_foll_cat li:active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    .slider .slide .gradient_effect {
        min-height: 500px;
        height: 100%;
    }

    .slider .slide .caption {
        margin-top: -130px;
        font-size: 25px;
    }


    .slider .slide .slider1_watch_btn {
        gap: 1px;
        margin-top: -210px;
        height: 25px;
        font-size: 12px;
        width: 50px;
    }

    .slide .slider1_watch_btn svg {
        height: 12px;
        width: 12px;
        margin-left: 2px;
    }

    /*
    .home_foll_cat {
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
    }*/

    .home_foll_cat li {
        display: block;
    }

    .hamburger_menu {
        display: block;
    }

    .slider .slide .slider1_watch_btn svg {
        font-size: 5px;
    }

    .header_contents .search {
        height: 40px;
        width: 350px;
        margin: 0 15px;
    }

    .header_contents .search .search_input {
        font-size: 17px;
        width: 270px;
    }

    .search .search_input::placeholder {
        font-size: 17px;
    }

    .log_sign_btns {
        font-size: 12px;
    }

    .log_sign_btns .log {
        height: 30px;
        width: 60px;

    }

    .log_sign_btns .sign {
        height: 30px;
        width: 60px;
    }

    .slider_wrapper .slider .slide {
        height: 370px;
    }

    .slider .slide img {
        height: 370px;
    }

    .slider .slide .gradient_effect {
        height: 370px;
    }

    .movie_category_slider {
        margin-top: 25px;
        padding: 0 10px;
    }

    .movie-slide {
        padding: 5px 15px;
    }


    /*
    .row .footer_header_logo #iframe {
        margin-top: 15px;
        width: 185px;
    }

    .row .footer_header_logo .footer_header {
        font-size: 15px;
    }

    iframe {
        transform: scale(0.7);
        transform-origin: top left;
    }

    .footer_logo_div .footer_logo_a img {
        height: 60px;
        width: 60px;
    }*/

    #com_page {
        transform: scale(0.75);
        transform-origin: top center;
    }

    /*.footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }*/

    .footer {
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "col1 col1"
            "col2 col3"
            "col4 col4";
    }

    .footer> :nth-child(1) {
        grid-area: col1;
    }

    .footer> :nth-child(2) {
        grid-area: col2;
    }

    .footer> :nth-child(3) {
        grid-area: col3;
    }

    .footer> :nth-child(4) {
        grid-area: col4;
    }

}

@media(max-width:1690px) {}